{% extends 'memes/base.html' %}

{% block layout %}

    <div class="row">
        <!-- left area -->
        <div class="col l3 fixedpos fullvhheight showwhenlarge left border-right"></div>

            <!-- empty filler area -->
            <div class="col s0 m3 l4"></div>

        <!-- posts -->
        <div class="col s12 m6 l4">
            {% block content %}
            {% endblock content %}
        </div>
        
            <!-- empty filler area -->
            <div class="col s0 m3 l4"></div>

        <!-- right area -->
        <div class="col l3 text-align-center fixedpos fullvhheight showwhenlarge right border-left">
            {% if user.is_authenticated %}
                <a href="/profile" class="colorblack"><h3>{{user.username}}</h3></a>
                <!--<a class="sidebarnavref" href="/profile">profile</a>-->
                <a href="/accounts/logout" class="waves-effect red darken-2 btn">LOG OUT</a>
                {% block home_authed %}
                {% endblock home_authed %}

            {% else %}
                <h4>Log in to start posting and rating content!</h4>
                {% block home_noauth %}
                {% endblock home_noauth %}

            {% endif %}

        {% include 'about/aboutrefs.html'%}
        </div>
    </div>

{% endblock layout %}