{% extends 'memes/base_emptylayout.html' %}

{% block title %}
DMA - Cookies
{% endblock %}

{% block content %}
    <h2>Cookies</h2>
    <span>
        DankMemesArmy uses various types of cookies. Some are for protection against attacks, whereas others 
        are for preserving user info so users don't have to login every time. There's also advertising cookies; 
        read about these on our
        <a href="/about/privacy.html">Privacy</a> page.
        By using our Services the person must agree with us using these Cookies.
        If the person doesn't agree with our cookie practices they must not use any of our services.
    </span>

    {% include 'about/aboutrefsbar.html' %}
{% endblock content %}